body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

#taskTitle {
  width: 90%;
}

#taskDueDate {
  width: 90%;
}

#taskDescription {
  height: 10vh;
  width: 90%;
}